:root {
    --primary-color: var(--ghost-accent-color, #49a8e4);
    --primary-text-color: #333;
    --secondary-text-color: #aaa;
    --red-color: #ff7473;
    --white-color: #fff;
    --light-gray-color: #f1f1f1;
    --mid-gray-color: #d9d9d9;
    --dark-gray-color: #1a1a1a;
    --black-color: #000;
    --dark-mode-bg-color: #282c35;
    --dark-mode-darker-bg-color: #21252c;
    --dark-mode-primary-text-color: #ccc;
    --dark-mode-secondary-text-color: #999;
    --dark-mode-border-color: #495061;
    --animation-base: ease-in-out;
    --shadow-base: 0 0 5px rgba(0, 0, 0, 0.2);
    --font-sans: Satoshi-Variable, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --font-serif: Lora, Times, serif;
    --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    --content-font-size: 1.7rem;
    --header-spacing: 60px;
}
