{{!< default}}

<div class="content-area">
<main class="site-main">

    {{#post}}

    <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post">

        <header class="article-header gh-canvas">
            <div class="post-meta">
                <span class="post-meta-item post-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time>
                </span>
                {{#if reading_time}}
                    <span class="post-meta-item post-meta-length">{{reading_time}}</span>
                {{/if}}
                {{#if @site.comments_enabled}}
                    {{comment_count class="post-meta-item"}}
                {{/if}}
                {{#primary_tag}}
                    <span class="post-meta-item post-meta-tags"><a class="post-tag post-tag-{{slug}}" href="{{url}}" title="{{name}}">{{name}}</a></span>
                {{/primary_tag}}
            </div>
            <h1 class="post-title">{{title}}</h1>
            {{> "post-image"}}
        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

        {{#if @custom.show_author}}
            {{> "author-box"}}
        {{/if}}

    </article>

    {{#if comments}}
        <section class="gh-comments gh-canvas">
            <h3 class="related-title">{{t "Comments"}} ({{comment_count empty="0" singular="" plural=""}})</h3>
            {{comments title="" count=false}}
        </section>
    {{/if}}

    {{#if @custom.show_related_posts}}
        {{> "related"}}
    {{/if}}

    {{/post}}

</main>
</div>
